Django>=5.2,<6.0

django-cms>=5.1,<5.2
django-treebeard
djangocms-admin-style
djangocms-text

django-crispy-forms
crispy-bootstrap4

gunicorn
whitenoise
python-decouple
dj-database-url
psycopg[binary]>=3.2
